﻿
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listHotProducts = (List<ModelEF.Model.Product>)ViewBag.HotProducts;
    var listSaleProducts = (List<ModelEF.Model.Product>)ViewBag.SaleProducts;
}


<div id="adbox">
    <div id="search">
        <h3>Tìm kiếm</h3><br /><br />
        <form action="index.html" method="post">
            <ul>
                <li>
                    <select id="size">
                        <option>Tìm theo tên</option>
                    </select>
                </li>
                <li>
                    <select id="color">
                        <option>Tìm theo giá</option>
                    </select>
                </li>
                <li>
                    <select id="brand">
                        <option>Tìm theo tác giả</option>
                    </select>
                </li>
            </ul>
            <br />
            <input type="submit" value="Find My Pair!" class="button">
        </form>
    </div>
    <img src="~/Assest/Client/images/6.jpg" height="355" width="618" alt="Promo"> <a href="index.html" class="button"></a> <span></span>
</div>
<div id="main">
    <div id="featured">
        <h4><span>Sản phẩm Hot</span></h4>
        <ul class="items">
            @foreach (var item in listHotProducts)
            {
                <li>
                    <a href="product.html"> <img src="@item.Image" height="150" width="150" alt="@item.Name"> <span>@Convert.ToInt32(item.UnitCost).ToString("#,##0") VNĐ</span>@item.Name</a>
                </li>
            }
        </ul>
    </div>
    <div id="sale">
        <h4><span>Sản phẩm Sale</span></h4>
        <ul class="items">
            @foreach (var item in listSaleProducts)
            {
                <li>
                    <a href="product.html"> <img src="@item.Image" height="150" width="150" alt="@item.Name"> <span>@Convert.ToInt32(item.UnitCost).ToString("#,##0") VNĐ</span>@item.Name</a>
                </li>
            }
        </ul>
    </div>
</div>
