﻿@model ModelEF.Model.Product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section header{
    <i class="fa fa-save"></i>&nbsp;Chi tiết sản phẩm
}
<div class="form-horizontal">
    <div class="col-lg-12 form-group">
        <div class="col-md-6">
            @Html.ActionLink("Quay lại", "Index", "Product", new { @class = "btn btn-primary" })
        </div>
    </div>
    <div class="col-lg-12 form-group">
        <dl class="dl-horizontal">
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.ProductId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProductId)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.UnitCost)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UnitCost)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd>
                <img src="@Html.DisplayFor(model => model.Image)" height="80" width="80">
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>
        </dl>
    </div>
</div>