﻿@using PagedList;
@using PagedList.Mvc
@model IEnumerable<ModelEF.Model.Product>

@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-home">&nbsp;Quản lý sản phẩm</i>
}
@using (Html.BeginForm("Index", "Product", FormMethod.Post))
{
    <div class="col-lg-12 form-group">
        <div class="col-md-6">
            @Html.ActionLink("Tạo mới", "Create", "Product", new { @class = "btn btn-danger" })
        </div>
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa cần tìm kiếm" class="form-control" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-danger" />
        </div>
    </div>
}
<div class="col-lg-12 form-group">
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>Thao tác</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="row_@item.ProductId">
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Convert.ToInt32(item.UnitCost).ToString("#,##0") VNĐ
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>

                <td>
                    <img src="@item.Image" height="80" width="80">
                </td>        
                <td>
                    <a href="~/Admin/Product/Detail/@item.ProductId"><i class="fa fa-share"></i></a>
                    &nbsp;
                    <a href="~/Admin/Product/Edit/@item.ProductId"><i class="fa fa-refresh"></i></a>
                    &nbsp;
                    @Ajax.ActionLink(" ", "Delete", new { @ProductId = item.ProductId }, new AjaxOptions
                       {
                           Confirm = "Bạn có muốn xóa bản ghi này?",
                           OnComplete = "$('#row_" + @item.ProductId + "').remove()",
                           HttpMethod = "Delete"
                       }, new { @class = "glyphicon glyphicon-trash" })
                </td>
            </tr>
        }
    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
</div>

