﻿
@{
    ViewBag.Title = "Trang quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-home">&nbsp;Trang quản trị</i>
}
<div class="form-horizontal">
    <div class="col-lg-12 form-group" style="text-align: center;">
        <div class="col-md-6">
            <button class="btn btn-primary">
                <a href="~/Admin/User/Index">User</a>
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary">
                <a href="~/Admin/Product/Index">Sản phẩm</a>
            </button>
        </div>        
    </div>
</div>

