﻿<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <title>RubberNLaces Website Template</title>
    <link rel="stylesheet" href="~/Assest/Client/css/style.css" type="text/css">
</head>
<body>
    <div id="background">
        <div id="page">
            <div id="header">
                <div id="logo">
                    <a href="index.html"><img src="~/Assest/Client/images/logo.png" alt="LOGO"></a>
                </div>
                <div id="navigation">
                    <ul id="primary">
                        <li class="selected">
                            <a href="index.html">Trang chủ</a>
                        </li>
                        <li>
                            <a href="mens.html">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="new.html">SP mới</a>
                        </li>
                        <li>
                            <a href="mens.html">SP Hot</a>
                        </li>
                        <li class="highlight">
                            <a href="sale.html">SP Sale</a>
                        </li>
                    </ul>
                    <ul id="secondary">
                        <li>
                            <a href="checkout.html">Giỏ hàng</a>
                        </li>
                        <li>
                            <a href="index.html">Đăng nhập</a> | <a href="index.html">Đăng kí</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="contents">
                @RenderBody()
            </div>
            <div id="footer">
                <div class="background">
                    <div id="connect">
                        <h5>Get Social With us!</h5>
                        <ul>
                            <li>
                                <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
                            </li>
                            <li>
                                <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
                            </li>
                            <li>
                                <a href="http://www.freewebsitetemplates.com/go/googleplus/" target="_blank" class="linkin"></a>
                            </li>
                        </ul>
                    </div>
                    <ul class="navigation">
                        <li>
                            <h5>Giới thiệu</h5> 
                            <a>Luôn quan tâm tới khách hàng</a> <a>Chú trọng dịch vụ</a>
                        </li>
                        <li>
                            <h5>SP Mới</h5>
                            <a href="womens.html">Văn học</a> <a href="womens.html">Truyện tranh</a> <a href="womens.html">Tiểu thuyết</a>
                        </li>
                        <li class="latest">
                            <h5>SP Hot</h5>
                            <a href="new.html">Truyện cười</a> <a href="new.html">Truyện ma</a> <a href="new.html">Chuyên ngành IT</a> <a href="new.html">Ngoại ngữ</a>
                        </li>
                        <li class="latest">
                            <h5>SP Sale</h5>
                            <a href="sale.html">SGK</a> <a href="sale.html">Sách tham khảo</a> <a href="sale.html">Truyện tranh</a>
                        </li>
                    </ul>
                    <p class="footnote">
                        &copy; Copyirght &copy; 2011. <a href="index.html">Company name</a> all rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>