﻿@using TestUngDung.Common;
@using TestUngDung.Areas.Admin.Data;
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="~/Assest/Admin/images/favicon.png">
    <title>@ViewBag.Title - Quản trị</title>
    <!--Core CSS -->
    <link href="~/Assest/Admin/bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assest/Admin/js/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet">
    <link href="~/Assest/Admin/css/bootstrap-reset.css" rel="stylesheet">
    <link href="~/Assest/Admin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Assest/Admin/js/jvector-map/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="~/Assest/Admin/css/clndr.css" rel="stylesheet">
    <!--clock css-->
    <link href="~/Assest/Admin/js/css3clock/css/style.css" rel="stylesheet">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="~/Assest/Admin/js/morris-chart/morris.css">
    <!-- Custom styles for this template -->
    <link href="~/Assest/Admin/css/style.css" rel="stylesheet">
    <link href="~/Assest/Admin/css/style-responsive.css" rel="stylesheet" />
</head>
<body>
    <section id="container">
        <!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <div class="brand">

                <a href="index.html" class="logo">
                    <img src="~/Assest/Admin/images/logo-bshop.png" alt="">
                </a>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars"></div>
                </div>
            </div>
            <!--logo end-->

            <div class="nav notify-row" id="top_menu">
            </div>
            <div class="top-nav clearfix">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src="~/Assest/Admin/images/avatar.png">
                            <span class="username">
                                @{
                                    var session = (LoginData)Session[Constants.USER_SESSION];
                                    if (session != null)
                                    {@session.UserName;
                                }
                                }
                            </span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <li>
                                <a href="@Url.Action("Logout","Home")">
                                    <i class="fa fa-key"></i> Thoát
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <div class="leftside-navigation">
                    <ul class="sidebar-menu" id="nav-accordion">
                        <li>
                            <a class="active" href="~/Admin/Home/Index">
                                <i class="fa fa-dashboard"></i>
                                <span>Lê Nga</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-book"></i>
                                <span>Quản lý tài khoản</span>
                            </a>
                            <ul class="sub">
                                <li><a href="~/Admin/User/Create">Creat</a></li>
                                <li><a href="~/Admin/User/Index">List</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-book"></i>
                                <span>Quản lý sản phẩm</span>
                            </a>
                            <ul class="sub">
                                <li><a href="~/Admin/Product/Index">List</a></li>
                                <li><a href="~/Admin/Product/Create">Create</a></li>
                            </ul>
                        </li>                        
                    </ul>
                </div>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!--mini statistics start-->
                <div class="row" style="display: none">
                    <div class="col-md-3">
                        <section class="panel">
                            <div class="panel-body">
                                <div class="top-stats-panel">
                                    <div class="gauge-canvas">
                                        <h4 class="widget-h">Monthly Expense</h4>
                                        <canvas width=160 height=100 id="gauge"></canvas>
                                    </div>
                                    <ul class="gauge-meta clearfix">
                                        <li id="gauge-textfield" class="pull-left gauge-value"></li>
                                        <li class="pull-right gauge-title">Safe</li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-3">
                        <section class="panel">
                            <div class="panel-body">
                                <div class="top-stats-panel">
                                    <div class="daily-visit">
                                        <h4 class="widget-h">Daily Visitors</h4>
                                        <div id="daily-visit-chart" style="width:100%; height: 100px; display: block">

                                        </div>
                                        <ul class="chart-meta clearfix">
                                            <li class="pull-left visit-chart-value">3233</li>
                                            <li class="pull-right visit-chart-title"><i class="fa fa-arrow-up"></i> 15%</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-3">
                        <section class="panel">
                            <div class="panel-body">
                                <div class="top-stats-panel">
                                    <h4 class="widget-h">Top Advertise</h4>
                                    <div class="sm-pie">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-3">
                        <section class="panel">
                            <div class="panel-body">
                                <div class="top-stats-panel">
                                    <h4 class="widget-h">Daily Sales</h4>
                                    <div class="bar-stats">
                                        <ul class="progress-stat-bar clearfix">
                                            <li data-percent="50%"><span class="progress-stat-percent pink"></span></li>
                                            <li data-percent="90%"><span class="progress-stat-percent"></span></li>
                                            <li data-percent="70%"><span class="progress-stat-percent yellow-b"></span></li>
                                        </ul>
                                        <ul class="bar-legend">
                                            <li><span class="bar-legend-pointer pink"></span> New York</li>
                                            <li><span class="bar-legend-pointer green"></span> Los Angels</li>
                                            <li><span class="bar-legend-pointer yellow-b"></span> Dallas</li>
                                        </ul>
                                        <div class="daily-sales-info">
                                            <span class="sales-count">1200 </span> <span class="sales-label">Products Sold</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!--mini statistics end-->
                <div class="row" style="display: none">
                    <div class="col-md-8">
                        <!--earning graph start-->
                        <section class="panel">
                            <header class="panel-heading">
                                Earning Graph <span class="tools pull-right">
                                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                                    <a href="javascript:;" class="fa fa-cog"></a>
                                    <a href="javascript:;" class="fa fa-times"></a>
                                </span>
                            </header>
                            <div class="panel-body">

                                <div id="graph-area" class="main-chart">
                                </div>
                                <div class="region-stats">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="region-earning-stats">
                                                This year total earning <span>$68,4545,454</span>
                                            </div>
                                            <ul class="clearfix location-earning-stats">
                                                <li class="stat-divider">
                                                    <span class="first-city">$734503</span>
                                                    Rocky Mt,NC
                                                </li>
                                                <li class="stat-divider">
                                                    <span class="second-city">$734503</span>
                                                    Dallas/FW,TX
                                                </li>
                                                <li>
                                                    <span class="third-city">$734503</span>
                                                    Millville,NJ
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-5">
                                            <div id="world-map" class="vector-stat">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--earning graph end-->
                    </div>
                    <div class="col-md-4">
                        <!--widget graph start-->
                        <section class="panel">
                            <div class="panel-body">
                                <div class="monthly-stats pink">
                                    <div class="clearfix">
                                        <h4 class="pull-left"> January 2013</h4>
                                        <!-- Nav tabs -->
                                        <div class="btn-group pull-right stat-tab">
                                            <a href="#line-chart" class="btn stat-btn active" data-toggle="tab"><i class="ico-stats"></i></a>
                                            <a href="#bar-chart" class="btn stat-btn" data-toggle="tab"><i class="ico-bars"></i></a>
                                        </div>
                                    </div>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="line-chart">
                                            <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-min-spot-color="false" data-max-spot-color="false" data-line-color="#ffffff" data-spot-color="#ffffff" data-fill-color="" data-highlight-line-color="#ffffff" data-highlight-spot-color="#e1b8ff" data-spot-radius="3" data-data="[100,200,459,234,600,800,345,987,675,457,765]">
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="bar-chart">
                                            <div class="sparkline" data-type="bar" data-resize="true" data-height="75" data-width="90%" data-bar-color="#d4a7f5" data-bar-width="10" data-data="[300,200,500,700,654,987,457,300,876,454,788,300,200,500,700,654,987,457,300,876,454,788]"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="circle-sat">
                                    <ul>
                                        <li class="left-stat-label"><span class="sell-percent">60%</span><span>Direct Sell</span></li>
                                        <li>
                                            <span class="epie-chart" data-percent="45">
                                                <span class="percent"></span>
                                            </span>
                                        </li>
                                        <li class="right-stat-label"><span class="sell-percent">40%</span><span>Channel Sell</span></li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <!--widget graph end-->
                        <!--widget graph start-->
                        <section class="panel">
                            <div class="panel-body">
                                <ul class="clearfix prospective-spark-bar">
                                    <li class="pull-left spark-bar-label">
                                        <span class="bar-label-value"> $18887</span>
                                        <span>Prospective Label</span>
                                    </li>
                                    <li class="pull-right">
                                        <div class="sparkline" data-type="bar" data-resize="true" data-height="40" data-width="90%" data-bar-color="#f6b0ae" data-bar-width="5" data-data="[300,200,500,700,654,987,457,300,876,454,788,300,200,500,700,654,987,457,300,876,454,788]"></div>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <!--widget graph end-->
                        <!--widget weather start-->
                        <section class="weather-widget clearfix">
                            <div class="pull-left weather-icon">
                                <canvas id="icon1" width="60" height="60"></canvas>
                            </div>
                            <div>
                                <ul class="weather-info">
                                    <li class="weather-city">New York <i class="ico-location"></i></li>
                                    <li class="weather-cent"><span>18</span></li>
                                    <li class="weather-status">Rainy Day</li>
                                </ul>
                            </div>
                        </section>
                        <!--widget weather end-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--earning graph start-->
                        <section class="panel">
                            <header class="panel-heading">
                                <label style="color:red"><b>@RenderSection("header", required: true)</b></label>
                            </header>
                            <div class="panel-body">
                                @if (TempData["AlertMessage"] != null)
                                {
                                    <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                                        @TempData["AlertMessage"]
                                    </div>
                                }
                                @RenderBody()
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </section>
        <!--main content end-->
        <!--right sidebar start-->
        <div class="right-sidebar">
            <div class="search-row">
                <input type="text" placeholder="Search" class="form-control">
            </div>
            <div class="right-stat-bar">
                <ul class="right-side-accordion">
                    <li class="widget-collapsible">
                        <a href="#" class="head widget-head red-bg active clearfix">
                            <span class="pull-left">work progress (5)</span>
                            <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
                        </a>
                        <ul class="widget-container">
                            <li>
                                <div class="prog-row side-mini-stat clearfix">
                                    <div class="side-graph-info">
                                        <h4>Target sell</h4>
                                        <p>
                                            25%, Deadline 12 june 13
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="target-sell">
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="side-graph-info">
                                        <h4>product delivery</h4>
                                        <p>
                                            55%, Deadline 12 june 13
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="p-delivery">
                                            <div class="sparkline" data-type="bar" data-resize="true" data-height="30" data-width="90%" data-bar-color="#39b7ab" data-bar-width="5" data-data="[200,135,667,333,526,996,564,123,890,564,455]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="side-graph-info payment-info">
                                        <h4>payment collection</h4>
                                        <p>
                                            25%, Deadline 12 june 13
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="p-collection">
                                            <span class="pc-epie-chart" data-percent="45">
                                                <span class="percent"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="side-graph-info">
                                        <h4>delivery pending</h4>
                                        <p>
                                            44%, Deadline 12 june 13
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="d-pending">
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="col-md-12">
                                        <h4>total progress</h4>
                                        <p>
                                            50%, Deadline 12 june 13
                                        </p>
                                        <div class="progress progress-xs mtop10">
                                            <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="widget-collapsible">
                        <a href="#" class="head widget-head terques-bg active clearfix">
                            <span class="pull-left">contact online (5)</span>
                            <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
                        </a>
                        <ul class="widget-container">
                            <li>
                                <div class="prog-row">
                                    <div class="user-thumb">
                                        <a href="#"><img src="~/Assest/Admin/images/avatar1_small.jpg" alt=""></a>
                                    </div>
                                    <div class="user-details">
                                        <h4><a href="#">Jonathan Smith</a></h4>
                                        <p>
                                            Work for fun
                                        </p>
                                    </div>
                                    <div class="user-status text-danger">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                </div>
                                <div class="prog-row">
                                    <div class="user-thumb">
                                        <a href="#"><img src="~/Assest/Admin/images/avatar1.jpg" alt=""></a>
                                    </div>
                                    <div class="user-details">
                                        <h4><a href="#">Anjelina Joe</a></h4>
                                        <p>
                                            Available
                                        </p>
                                    </div>
                                    <div class="user-status text-success">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                </div>
                                <div class="prog-row">
                                    <div class="user-thumb">
                                        <a href="#"><img src="~/Assest/Admin/images/chat-avatar2.jpg" alt=""></a>
                                    </div>
                                    <div class="user-details">
                                        <h4><a href="#">John Doe</a></h4>
                                        <p>
                                            Away from Desk
                                        </p>
                                    </div>
                                    <div class="user-status text-warning">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                </div>
                                <div class="prog-row">
                                    <div class="user-thumb">
                                        <a href="#"><img src="~/Assest/Admin/images/avatar1_small.jpg" alt=""></a>
                                    </div>
                                    <div class="user-details">
                                        <h4><a href="#">Mark Henry</a></h4>
                                        <p>
                                            working
                                        </p>
                                    </div>
                                    <div class="user-status text-info">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                </div>
                                <div class="prog-row">
                                    <div class="user-thumb">
                                        <a href="#"><img src="~/Assest/Admin/images/avatar1.jpg" alt=""></a>
                                    </div>
                                    <div class="user-details">
                                        <h4><a href="#">Shila Jones</a></h4>
                                        <p>
                                            Work for fun
                                        </p>
                                    </div>
                                    <div class="user-status text-danger">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                </div>
                                <p class="text-center">
                                    <a href="#" class="view-btn">View all Contacts</a>
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li class="widget-collapsible">
                        <a href="#" class="head widget-head purple-bg active">
                            <span class="pull-left"> recent activity (3)</span>
                            <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
                        </a>
                        <ul class="widget-container">
                            <li>
                                <div class="prog-row">
                                    <div class="user-thumb rsn-activity">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <div class="rsn-details ">
                                        <p class="text-muted">
                                            just now
                                        </p>
                                        <p>
                                            <a href="#">Jim Doe </a>Purchased new equipments for zonal office setup
                                        </p>
                                    </div>
                                </div>
                                <div class="prog-row">
                                    <div class="user-thumb rsn-activity">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <div class="rsn-details ">
                                        <p class="text-muted">
                                            2 min ago
                                        </p>
                                        <p>
                                            <a href="#">Jane Doe </a>Purchased new equipments for zonal office setup
                                        </p>
                                    </div>
                                </div>
                                <div class="prog-row">
                                    <div class="user-thumb rsn-activity">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <div class="rsn-details ">
                                        <p class="text-muted">
                                            1 day ago
                                        </p>
                                        <p>
                                            <a href="#">Jim Doe </a>Purchased new equipments for zonal office setup
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="widget-collapsible">
                        <a href="#" class="head widget-head yellow-bg active">
                            <span class="pull-left"> shipment status</span>
                            <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
                        </a>
                        <ul class="widget-container">
                            <li>
                                <div class="col-md-12">
                                    <div class="prog-row">
                                        <p>
                                            Full sleeve baby wear (SL: 17665)
                                        </p>
                                        <div class="progress progress-xs mtop10">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                <span class="sr-only">40% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="prog-row">
                                        <p>
                                            Full sleeve baby wear (SL: 17665)
                                        </p>
                                        <div class="progress progress-xs mtop10">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                                <span class="sr-only">70% Completed</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

        </div>
        <!--right sidebar end-->
    </section>
    <!-- Placed js at the end of the document so the pages load faster -->
    <!--Core js-->
    <script src="~/Assest/Admin/js/jquery.js"></script>
    <script src="~/Assest/Admin/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="~/Assest/Admin/bs3/js/bootstrap.min.js"></script>
    <script src="~/Assest/Admin/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Assest/Admin/js/jquery.scrollTo.min.js"></script>
    <script src="~/Assest/Admin/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
    <script src="~/Assest/Admin/js/jquery.nicescroll.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="~/Assest/Admin/js/skycons/skycons.js"></script>
    <script src="~/Assest/Admin/js/jquery.scrollTo/jquery.scrollTo.js"></script>
    <script src="~/cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/Assest/Admin/js/calendar/clndr.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="~/Assest/Admin/js/calendar/moment-2.2.1.js"></script>
    <script src="~/Assest/Admin/js/evnt.calendar.init.js"></script>
    <script src="~/Assest/Admin/js/jvector-map/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Assest/Admin/js/jvector-map/jquery-jvectormap-us-lcc-en.js"></script>
    <script src="~/Assest/Admin/js/gauge/gauge.js"></script>
    <!--clock init-->
    <script src="~/Assest/Admin/js/css3clock/js/css3clock.js"></script>
    <!--Easy Pie Chart-->
    <script src="~/Assest/Admin/js/easypiechart/jquery.easypiechart.js"></script>
    <!--Sparkline Chart-->
    <script src="~/Assest/Admin/js/sparkline/jquery.sparkline.js"></script>
    <!--Morris Chart-->
    <script src="~/Assest/Admin/js/morris-chart/morris.js"></script>
    <script src="~/Assest/Admin/js/morris-chart/raphael-min.js"></script>
    <!--jQuery Flot Chart-->
    <script src="~/Assest/Admin/js/flot-chart/jquery.flot.js"></script>
    <script src="~/Assest/Admin/js/flot-chart/jquery.flot.tooltip.min.js"></script>
    <script src="~/Assest/Admin/js/flot-chart/jquery.flot.resize.js"></script>
    <script src="~/Assest/Admin/js/flot-chart/jquery.flot.pie.resize.js"></script>
    <script src="~/Assest/Admin/js/flot-chart/jquery.flot.animator.min.js"></script>
    <script src="~/Assest/Admin/js/flot-chart/jquery.flot.growraf.js"></script>
    <script src="~/Assest/Admin/js/dashboard.js"></script>
    <script src="~/Assest/Admin/js/jquery.customSelect.min.js"></script>
    <!--common script init for all pages-->
    <script src="~/Assest/Admin/js/scripts.js"></script>
    <!--script for this page-->
    <script src="~/Assest/Admin/js/scriptImg.js"></script>
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(5000).slideUp(500);
        })
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>
</html>
