﻿@using PagedList;
@using PagedList.Mvc
@model IEnumerable<ModelEF.Model.UserAccount>

@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-home">&nbsp;Quản lý tài khoản</i>
}

@using (Html.BeginForm("Index", "User", FormMethod.Post))
{
    <div class="col-lg-12 form-group">
        <div class="col-md-6">
            @Html.ActionLink("Tạo mới", "Create", "User", new { @class = "btn btn-danger" })
        </div>
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa cần tìm kiếm" class="form-control" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-danger" />
        </div>
    </div>
}
<div class="col-lg-12 form-group">
    <table class="table">
        <tr>
            <td>STT</td>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>Thao tác</th>
        </tr>
        @{ var i = 1;}
        @foreach (var item in Model)
        {
            <tr id="row_@item.UserName">
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a href="~/Admin/User/Edit/@item.UserName"><i class="fa fa-refresh"></i></a>
                    &nbsp;
                    @Ajax.ActionLink(" ", "Delete", new { @UserName = item.UserName }, new AjaxOptions
                       {
                           Confirm = "Bạn có muốn xóa bản ghi này?",
                           OnComplete = "$('#row_" + @item.UserName + "').remove()",
                           HttpMethod = "Delete"
                       }, new { @class = "glyphicon glyphicon-trash" })
                </td>
            </tr>
            i++;
        }
    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
</div>